<header>
    <div id='phone-button'><i class="material-symbols-outlined">expand_more</i></div>
    <div id='menu'>
        <a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">ACCUEIL</a>
        <span>|</span>
        <a routerLink="/about" routerLinkActive="selected">À MON SUJET</a>
        <span>|</span>
        <a routerLink="/works" routerLinkActive="selected">TRAVAUX</a>
        <span>|</span>
        <a routerLink="/works/museum" routerLinkActive="selected">VUE INTERACTIVE</a>
        <span class="hide-phone">|</span>
        <a href="https://estorc.github.io/RAPTOR-PRODUCTION/">BLOG</a>
    </div>
</header>