/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background-color: rgb(34, 34, 34); 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;  
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #c3c3c3; 
}