<main>
	<feather-misc-tesseract-background-effects-starry-sky></feather-misc-tesseract-background-effects-starry-sky>
	<feather-f3d-cube>
		<div class="f3d-cube-face f3d-cube-front"> 

			<div class="f3d-cube-face-top"> 
				<h2>Compétences et intérets</h2>
			</div>
			<div class="f3d-cube-face-left"> 
				<h2>Liens</h2>
			</div>
			<div class="f3d-cube-face-right"> 
				<h2>Projets notables</h2>
			</div>
			<div class="f3d-cube-face-bottom"> 
				<h2>Expériences</h2>
			</div>

			<div class="centered fullpannel">
				<img class="large-icon rounded-circle hover-white-border" src="assets/images/estorc.webp" alt="..." />
				<h1>
					Loup
					<span class="text-primary">"Estorc"</span> Picault
				</h1>
				<h2>
					Indépendant et passionné · Créateur de "A Short Story Across The Time" · Co-Fondateur de la N.A.G. Corporation ·
					<a href="mailto:nag.raptorprod&#64;gmail.com">nag.raptorprod&#64;gmail.com</a>
				</h2>
				<p>Je suis un développeur autodidacte passionné par l'audiovisuel et les vieilles technologies. Je programme depuis mon plus jeune âge, par passion et dans l'envie de réaliser des projets mêlant dessin, musique et interactivité. <br><br>J'ai toujours aimé chercher et expérimenter dans divers domaines pour trouver des réponses, d'où mon grand intérêt pour les Mathématiques et la Philosophie.</p>
				<div class="social-icons">
					<a class="md-icon grey white-hover color-hover-200ms" href="https://www.linkedin.com/in/loup-picault-55a7a2256/"><i class="fab fa-linkedin-in"></i></a>
					<a class="md-icon grey white-hover color-hover-200ms" href="https://github.com/Estorc"><i class="fab fa-github"></i></a>
					<a class="md-icon grey white-hover color-hover-200ms" href="https://twitter.com/EstorcNag"><i class="fab fa-twitter"></i></a>
				</div>
			</div>
		</div>
		<div class="f3d-cube-face f3d-cube-top">
			<div class="centered fullpannel scrolling-div">
				<h2>Compétences et intérets</h2>
				
				<h3>Développement</h3>
				<div>Fullstack Logiciel Web</div>
				<p>La programmation n'est pas tant une passion en soi, mais elle sert de passerelle vers les plus grands rêves.</p>
				<div>
					<span class="md-icon grey white-hover color-hover-200ms"><i class="fab fa-html5"></i></span>
					<span class="md-icon grey white-hover color-hover-200ms"><i class="fab fa-css3-alt"></i></span>
					<span class="md-icon grey white-hover color-hover-200ms"><i class="fab fa-js-square"></i></span>
					<span class="md-icon grey white-hover color-hover-200ms"><i class="fab fa-node-js"></i></span>
					<span class="md-icon grey white-hover color-hover-200ms"><i class="fab fa-wordpress"></i></span>
					<span class="md-icon grey white-hover color-hover-200ms"><i class="fab fa-npm"></i></span>
				</div>

				<h3>Mathématiques</h3>
				<div>Géométrie Euclidienne Calculus</div>
				<p>Nourrit une passion pour les chiffres. Vous savez, <img style="filter:invert()" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/cdc91da4c99377dd51c6178f427ec0892bbb5591">.</p>
				<img style="width: 50%;" src="assets/images/mandelbrotSet.webp" alt="Fractale de Mandelbrot">
				
				<h3>Développement de physiques</h3>
				<div>Fluide Collision Gravité Attraction</div>
				<p>Les fluides, les solides et Newton.</p>
				<img style="width: 50%;" src="assets/images/fluids.png" alt="Fluides">

				<h3>Développement de jeu</h3>
				<div>Game Designer Game Developer</div>
				<p>Je fais partie de ceux qui y voit un autre art.</p>
				<div class="list-inline dev-icons">
					<span class="md-icon grey white-hover color-hover-200ms"><img class="engine-icon" src="assets/images/icon_monochrome_light.svg"></span>
					<span class="md-icon grey white-hover color-hover-200ms"><img class="engine-icon" src="assets/images/GAMEMAKER-2.png"></span>
					<span class="md-icon grey white-hover color-hover-200ms"><img class="engine-icon" src="assets/images/unity-logo-black-and-white.png"></span>
					<span class="md-icon grey white-hover color-hover-200ms"><img class="engine-icon" src="assets/images/unreal-engine-icon-2048x2048-2xrze4w8.png"></span>
				</div>

				<h3>Montage Vidéo</h3>
				<div>FX Post Production</div>
				<p>J'ai fait divers montage pour ma chaîne Youtube et pour mes jeux vidéos.</p>
				<img style="width: 50%;" src="assets/images/montage.png" alt="Montage">

				<h3>Philosophie</h3>
				<div>Réflexion Théorie Débat</div>
				<p>J'aime penser...<br> « Si tu plonges ton regard longtemps dans l’abîme, l’abîme te regarde aussi. », Nietzsche,<br>Par delà le Bien et le Mal, 1886.</p>
				
				<h3>Dessin Digital</h3>
				<div>Pixel Art Composition Artwork</div>
				<img style="width: 50%;" src="assets/images/drawings/Clara2.webp" alt="Montage">

				<h3>Écriture</h3>
				<div>Analyse Essai</div>
				<h3>Violon</h3>
				<img style="width: 50%;" src="assets/images/violin.jpg" alt="Violin">
			</div>
		</div>
		<div class="f3d-cube-face f3d-cube-right"> 
			<div class="centered fullpannel">
				<h2>Projets notables</h2>
				<h3 class="inline">Traduction de Jenka's Nightmare (Modification du code en ASM 8086)</h3><span> · <a href="https://estorc.github.io/Jenkas-Nightmare-TradFR/">Voir ici</a> · 2022-2023</span>
				<h3 class="inline">Développement de "plugins" RPG Maker MZ/MV/VX Ace/XP pour particuliers</h3><span> · 2015-2023</span>
				<h3 class="inline">Développement d'applications pour des particuliers</h3><span> · 2017-2023</span>
				<h3 class="inline">Analyse en trois parties de Undertale</h3><span> · <a href="https://www.youtube.com/watch?v=ICBZVp5OiTw">Voir ici</a> · 2023</span>
			</div>
		</div>
		<div class="f3d-cube-face f3d-cube-left"> 
			<div class="centered fullpannel">
				<h2>Liens</h2>
				<h3>Github</h3>
				<div><a href="https://github.com/Estorc">https://github.com/Estorc</a> - C'est ici que je répertorie mes projets publics.</div>
				<h3>Ræptor</h3>
				<div><a href="https://raeptor.com">https://raeptor.com</a> - Mon espace web où j'affiche mes démos techniques et mon profil.</div>
				<h3>Raptor Production</h3>
				<div><a href="https://blog.raeptor.com">https://blog.raeptor.com</a> - Mon blog. J'y publie occasionnellement des articles sur mes travaux.</div>
			</div>
		</div>
		<div class="f3d-cube-face f3d-cube-bottom">
			<div class="centered fullpannel">
				<h2>Expériences</h2>
				<h3 class="inline">Équipier polyvalent à McDonald's</h3><span> · 2022</span>
				<h3 class="inline">Compétition de ROM Hacking (<a href="https://romhacking.com/">https://romhacking.com/</a>)</h3><span> · 2024</span>
				<h3 class="inline">24h du code (Sujet du Haum) (<a href="https://www.linkedin.com/feed/update/urn:li:activity:7183071108936441856/">https://www.linkedin.com/</a>)</h3><span> · 2024</span>
			</div>
		</div>
		<div class="f3d-cube-face f3d-cube-back"> </div>
	</feather-f3d-cube>
</main>