<main>
	<raeptor-slides-container-vertical #slideContainer style="height: 100dvh;" [3d]="true">
		<raeptor-slides-slide id="page">
			<raeptor-misc-tesseract #tesseract/>
		</raeptor-slides-slide>
		<raeptor-slides-slide [x]="500" [y]="500" [z]="1000" class='black-background raeptor-slides-fullslide'>
			<raeptor-slides-container-horizontal>
				<raeptor-slides-slide class="raeptor-slides-fullslide" *ngFor="let card of cards.raeptorcogs">
					<raeptor-cards-pretty-fullcard [image]="'assets/images/raeptorcogs-bg.jpg'" [custom-content]="true">
						<img [src]="card.image" [alt]="card.imageAlt" [style.aspectRatio]="'auto'"/>
						<div class="raeptor-cards-pretty-fullcard-text">
							<h2>{{ card.title | translate }}</h2>
							<h3>{{ card.description | translate }}</h3>
							<hr class="radial-gradient">
							<div class="buttons">
								<a mat-stroked-button [href]="card.link">{{ 'common.learn-more' | translate }}</a>
								<a mat-stroked-button href="javascript:void(0)" (click)="copyURLToClipboard('play-button', $event.target)" class="icon-button"><i class="material-symbols-outlined">link</i></a>
							</div>
						</div>
					</raeptor-cards-pretty-fullcard>
				</raeptor-slides-slide>
			</raeptor-slides-container-horizontal>
		</raeptor-slides-slide>






		<raeptor-slides-slide [x]="20" [y]="0" [z]="1400" class='black-background raeptor-slides-fullslide'>
			<raeptor-slides-container-horizontal>
				<raeptor-slides-slide class='raeptor-slides-fullslide'>
					<raeptor-cards-pretty-fullcard [image]="'assets/images/ASSATT-bg.webp'" [custom-content]="true">
						<div class="raeptor-cards-pretty-fullcard-text centered">
							<h2>{{ 'home.slides.assatt.title' | translate }}</h2>
							<h3>{{ 'home.slides.assatt.description' | translate }}</h3>
							<hr class="radial-gradient">
							<h3>{{ 'home.slides.assatt.content' | translate }}</h3>
						</div>
					</raeptor-cards-pretty-fullcard>
				</raeptor-slides-slide>
			</raeptor-slides-container-horizontal>
		</raeptor-slides-slide>





		
		<raeptor-slides-slide [x]="1200" [y]="0" [z]="1600" class='black-background raeptor-slides-fullslide'>
			<raeptor-slides-container-horizontal>
				<raeptor-slides-slide class='raeptor-slides-fullslide' *ngFor="let card of cards.drawings; let i = index">
					<raeptor-cards-pretty-fullcard [image]="card.image" [custom-content]="true">
						<img *ngIf="i > 0" class='raeptor-cards-pretty-fullcard-large-img f3d-hover' [src]="card.image" [alt]="card.alt"/>
						<div class="raeptor-cards-pretty-fullcard-text raeptor-cards-pretty-fullcard-small-padding centered">
							<h2><i class="material-symbols-outlined">navigate_next</i>  {{ card.text | translate }}  <i class="material-symbols-outlined">navigate_before</i></h2>
						</div>
					</raeptor-cards-pretty-fullcard>
				</raeptor-slides-slide>
			</raeptor-slides-container-horizontal>
		</raeptor-slides-slide>





		<raeptor-slides-slide [x]="500" [y]="250" [z]="3200" class='black-background raeptor-slides-fullslide'>
			<raeptor-slides-container-horizontal>

				<raeptor-slides-slide class='raeptor-slides-fullslide'>
					<raeptor-cards-pretty-fullcard [image]="'assets/images/analyse-bg.webp'" [custom-content]="true">
						<div class="raeptor-cards-pretty-fullcard-text centered">
							<h2>{{ 'home.slides.analysis.title' | translate }}</h2>
							<h3>{{ 'home.slides.analysis.description' | translate }}</h3>
							<hr class="radial-gradient">
							<h3>{{ 'home.slides.analysis.content' | translate }}</h3>
						</div>
					</raeptor-cards-pretty-fullcard>
				</raeptor-slides-slide>
				<raeptor-slides-slide class='raeptor-slides-fullslide'>
					<raeptor-cards-pretty-fullcard [image]="'assets/images/undertale.webp'" [custom-content]="true">
						<div class="raeptor-cards-pretty-fullcard-text centered">
							<h2>{{ 'home.slides.analysis.undertale.title' | translate }}</h2>
							<iframe src="https://www.youtube-nocookie.com/embed/ICBZVp5OiTw?si=fTu7ATFnvyaMK4ZS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
							<hr class="radial-gradient">
							<div class="buttons">
								<a mat-stroked-button href="https://www.youtube.com/watch?v=ICBZVp5OiTw"><i class="material-symbols-outlined">play_arrow</i>{{ 'common.play-video-short' | translate }}</a>
								<a mat-stroked-button href="javascript:void(0)" (click)="copyURLToClipboard('play-button', $event.target)" class="icon-button"><i class="material-symbols-outlined">link</i></a>
							</div>
						</div>
					</raeptor-cards-pretty-fullcard>
				</raeptor-slides-slide>

			</raeptor-slides-container-horizontal>
		</raeptor-slides-slide>

		<raeptor-slides-slide [x]="-50" [y]="50" [z]="2000" class='black-background raeptor-slides-fullslide'>
			<raeptor-slides-container-horizontal>
				<raeptor-slides-slide class="raeptor-slides-fullslide" *ngFor="let card of cards.projects">
					<raeptor-cards-pretty-fullcard [image]="card.image" [image-alt]="card.imageAlt" [title]="card.title" [description]="card.description" [link]="card.link">

					</raeptor-cards-pretty-fullcard>
				</raeptor-slides-slide>
			</raeptor-slides-container-horizontal>
		</raeptor-slides-slide>

	</raeptor-slides-container-vertical>
</main>