<main>
	<div class='dark-radial-background' id="page">

		<div>		
			<div id="works">

				<div #activeWorkBlur id="activeWorkBlur"></div>

				<div #frameWork class="frame-work">
					<img src="assets/images/FluidSimulation.webp" alt="2D Fluid Simulation">
					<div class="text">
						<div class="diamond-bg"></div>
						<h2>2D Fluid Simulation</h2>
						<h3>Une simulation de fluide en JS pure. Aucune librairie ou framework n'ont été utilisés.</h3>
						<hr class="radial-gradient">
						<div class="buttons">
							<a href="./works/2DFluidSimulation/"><i class="material-symbols-outlined">play_arrow</i>Jouer</a>
							<a href="./works/2DFluidSimulation/">En savoir plus</a>
							<a href="javascript:void(0)" onclick="copyURLToClipboard.call(this, 'play-button')" class="icon-button"><i class="material-symbols-outlined">link</i></a>
						</div>
						<i class="material-symbols-outlined close-button">close</i>
					</div>
				</div>
				
				<div #frameWork class="frame-work">
					<img src="assets/images/SoftBodySimulation.webp" alt="3D Soft Body">
					<div class="text">
						<div class="diamond-bg"></div>
						<h2>3D Soft Body</h2> 
						<h3>Une simulation de Soft Body réalisé avec la librairie Three.JS.</h3>
						<hr class="radial-gradient">
						<div class="buttons">
							<a href="./works/3DSoftBody/"><i class="material-symbols-outlined">play_arrow</i>Jouer</a>
							<a href="./works/3DSoftBody/">En savoir plus</a>
							<a href="javascript:void(0)" onclick="copyURLToClipboard.call(this, 'play-button')" class="icon-button"><i class="material-symbols-outlined">link</i></a>
						</div>
						<i class="material-symbols-outlined close-button">close</i>
					</div>
				</div>
				
				<div #frameWork class="frame-work">
					<img src="assets/images/Genos.webp" alt="Paper Professeur Genos Simulator">
					<div class="text">
						<div class="diamond-bg"></div>
						<h2>Paper Professeur Genos Simulator</h2> 
						<h3>Un combat parodique contre un antagoniste mêlant plusieurs personnages fictifs. Le jeu reprend le système de combat de Undertale.</h3>
						<hr class="radial-gradient">
						<div class="buttons">
							<a href="./works/You-gonna-have-a-Genophobia/"><i class="material-symbols-outlined">play_arrow</i>Jouer</a>
							<a href="./works/You-gonna-have-a-Genophobia/">En savoir plus</a>
							<a href="javascript:void(0)" onclick="copyURLToClipboard.call(this, 'play-button')" class="icon-button"><i class="material-symbols-outlined">link</i></a>
						</div>
						<i class="material-symbols-outlined close-button">close</i>
					</div>
				</div>
				
				<div #frameWork class="frame-work">
					<img src="assets/images/KingKong.webp" alt="King Kong Simulator">
					<div class="text">
						<div class="diamond-bg"></div>
						<h2>King Kong Simulator</h2> 
						<h3>Un combat parodique contre King Kong (Un personnage crée par Jadusable parodiant Link Goron de Zelda Majora's Mask). Le jeu reprend le système de combat de Undertale.</h3>
						<hr class="radial-gradient">
						<div class="buttons">
							<a href="./works/In-the-hall-of-the-King-Kong/"><i class="material-symbols-outlined">play_arrow</i>Jouer</a>
							<a href="./works/In-the-hall-of-the-King-Kong/">En savoir plus</a>
							<a href="javascript:void(0)" onclick="copyURLToClipboard.call(this, 'play-button')" class="icon-button"><i class="material-symbols-outlined">link</i></a>
						</div>
						<i class="material-symbols-outlined close-button">close</i>
					</div>
				</div>
				
				<div #frameWork class="frame-work">
					<img src="assets/images/TDS.webp" alt="The Dark Storm">
					<div class="text">
						<div class="diamond-bg"></div>
						<h2>The Dark Storm</h2> 
						<h3>Un vieux jeu inachevé. Il s'inspire des jeux RPG/Hack 'n' Slash et propose un vaste monde de Dark Fantasy à explorer.</h3>
						<hr class="radial-gradient">
						<div class="buttons">
							<a href="./works/old/The%20Dark%20Storm/"><i class="material-symbols-outlined">play_arrow</i>Jouer</a>
							<a href="./works/old/The%20Dark%20Storm/">En savoir plus</a>
							<a href="javascript:void(0)" onclick="copyURLToClipboard.call(this, 'play-button')" class="icon-button"><i class="material-symbols-outlined">link</i></a>
						</div>
						<i class="material-symbols-outlined close-button">close</i>
					</div>
				</div>
				
				<div #frameWork class="frame-work">
					<img src="assets/images/OG1.webp" alt="Oujnish Game 1">
					<div class="text">
						<div class="diamond-bg"></div>
						<h2>Oujnish Game 1</h2> 
						<h3>Un vieux jeu. Il est assez archaïque dans ses contrôles, mais reste un projet intéressant à explorer, bien que bien moins impressionnant que son successeur.</h3>
						<hr class="radial-gradient">
						<div class="buttons">
							<a href="./works/old/Oujnish%20Game/"><i class="material-symbols-outlined">play_arrow</i>Jouer</a>
							<a href="./works/old/Oujnish%20Game/">En savoir plus</a>
							<a href="javascript:void(0)" onclick="copyURLToClipboard.call(this, 'play-button')" class="icon-button"><i class="material-symbols-outlined">link</i></a>
						</div>
						<i class="material-symbols-outlined close-button">close</i>
					</div>
				</div>
				
				<div #frameWork class="frame-work">
					<img src="assets/images/SoftBodySimulation2.webp" alt="3D Soft Body PureJS">
					<div class="text">
						<div class="diamond-bg"></div>
						<h2>3D Soft Body PureJS</h2> 
						<h3>Une simulation de Soft Body réalisé sans librairies en utilisant les canvas 2D du JS.</h3>
						<hr class="radial-gradient">
						<div class="buttons">
							<a href="./works/3DSoftBodyPureJS/"><i class="material-symbols-outlined">play_arrow</i>Jouer</a>
							<a href="./works/3DSoftBodyPureJS/">En savoir plus</a>
							<a href="javascript:void(0)" onclick="copyURLToClipboard.call(this, 'play-button')" class="icon-button"><i class="material-symbols-outlined">link</i></a>
						</div>
						<i class="material-symbols-outlined close-button">close</i>
					</div>
				</div>
				
			</div>
		</div>

		<footer>
			<span>RAEPTOR EST UN SOUS DOMAINE DE LA RAPTOR PRODUCTION</span><br>
			<span>Site développé par Estorc. ~ La RAPTOR PRODUCTION ainsi que ses sous domaines sont affiliés à la N.A.G. CORPORATION</span><br>
			<span>~~~ ~~~</span><br>
			<span>ME CONTACTER : </span><a href="mailto:nag.raptorprod&#64;gmail.com" style="color:grey; text-decoration: none;">nag.raptorprod&#64;gmail.com</a>
		</footer>
	</div>
</main>