#works {

	position: relative;
	width: 80%;
	margin: 100px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Shippori Mincho', serif;

}

.frame-work {

	position:relative;
	margin:2vw;
	border-radius: 5px;
	width: 230px;
	height: 230px;
	transition-duration: 0.2s;
	-webkit-animation: 1s appear1;
	animation: 1s appear1;	

}

.frame-work h2 {

	text-align:center;
	color:#ccc;
	transition: 0.5s 0.1s;
	font-size: 22px;	
	margin: 10 0;

}

.frame-work h3 {

	color:#888;
	transition: 0.5s 0.1s;
	text-align: center;
	font-size: 18px;
	margin: 10 0;

}

.frame-work img {
	
	position:relative;
	top:0px;
	object-fit: cover;
	aspect-ratio: 1 / 1;
	vertical-align: bottom;
	width:100%;
	
}

.frame-work .text {

	position:absolute;
	padding: 0;
	transform-origin: bottom;
	transform:scale(100%,0%);
	transition-duration: 0.2s;
	bottom: 0;
	
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;

}

.frame-work:hover .text {

	color:#fff;
	background:#111;
	transform:scale(100%,100%);

}

.frame-work:hover h2, .frame-work:hover h3 {

	color:#fff;

}