.fullslide {
	
	position:relative;
	width:100%;
	height:100dvh;
	
}

.showcase-slide {
	
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	backdrop-filter: blur(10px);
	display:flex;
	align-items:center;
	justify-content:center;
	text-shadow:2px 2px 3px #000000a0;
	flex-wrap: wrap;
	
}

.showcase-slide img {
	
	position: relative;
	height: auto;
	width:auto;
	max-width:90%;
	max-height:50%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	box-shadow: 10px 10px 20px #00000050;
	border-radius: 10px;
	
}

.showcase-slide .large-img {

	position: relative;
	height: auto;
	width:auto;
	max-width:100%;
	max-height:70%;
	margin: 0 100%;
	aspect-ratio: auto;
	object-fit: auto;
	box-shadow: 10px 10px 20px #00000050;
	border-radius: 10px;

}

.showcase-slide iframe {

	width: 40vw;
	height: calc((40vw / 1920) * 1080);

}

.showcase-slide .text {
	
	margin: 0 2%;
	border-radius:20px;
	padding:5%;
	background-color:#00000050;
	min-width:30%;
	width:700px;
	max-width:90%;
	
}

.showcase-slide .small-padding {
	
	padding:1%;
	
}

@media (min-aspect-ratio:1/1) {
	
	.showcase-slide img {
		
		max-width:35%;
		height: auto;
		
	}
	.showcase-slide .text {
		
		max-width:45%;
		
	}
	
}

@media (max-height:450px) {
	
	.showcase-slide .text {
		
		font-size:0.75em;
		
	}

	.showcase-slide .text .material-symbols-outlined {
		
		font-size:1.5em;
		
	}
	
	.showcase-slide h2 {
		
		margin: 3% 0;
		
	}
	
	.showcase-slide h3 {
		
		margin: 1% 0;
		
	}
	
	.showcase-slide hr {
		
		margin: 3% 0;
		
	}
	
	.showcase-slide .buttons a {
		
		padding:6px 6px;
		
		
	}
	
	.showcase-slide .buttons .icon-button {
		
		padding:6px;
		
		
	}
	
}

@media (max-width:440px) {
	
	.showcase-slide .buttons {
		
		display:flex;
		gap:5px;
		
	}
	.showcase-slide .buttons a {
		
		padding:10px 10px;
		
		
	}
	
	.showcase-slide .buttons .icon-button {
		
		padding:10px;
		
		
	}
	
}