.buttons {
	
	display:flex;
	gap:10px;
	
}

.buttons a {
	
	position:relative;
	text-shadow:0 0 3px black;
	font-weight: bold;
	border-radius:100px;
	border:2px solid white;
	padding:15px 35px;
	background-color:#5060c0;
	color: white;
	text-decoration: none;
	transition:150ms ease-in-out;
	
}

.buttons a:hover {
	
	border:2px solid #5060c0;
	background-color:white;
	color: #5060c0;
	transform: scale(1.1);
	
}

.buttons .icon-button {

	position:relative;
	text-shadow:0 0 3px black;
	font-weight: bold;
	border-radius:100px;
	border:2px solid white;
	padding: 15px;
	background-color:#6070b0;
	
}