@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap');
@import url("StyleFX/animations.css");
@import url("StyleFX/background.css");
@import url("StyleFX/horizontal-rule.css");
@import url("StyleFX/popups.css");

.zero-opacity {
	
	opacity: 0;
	
}

.show {
	visibility: visible;
	opacity: 1;
}
.hide {
	visibility: hidden;
	opacity: 0;
}
.force-bottom {
	position:absolute;
	bottom:0;
}
.centered {
	text-align: center;
}


.d3d-hover {
	--mouseX:0;
	--mouseY:0;
	transition-duration: 0.2s;
}

.d3d-hover:hover {

	transform:	scale(110%,110%) matrix3d(
		1, 0, 0, var(--mouseX), 0, 
		1, 0, var(--mouseY), 0, 0, 
		1, 0, 0, 0, 0, 
		1);
	filter:grayscale(0.2)brightness(1.2);

}

.material-symbols-outlined, .unselectable {

	display: inline-block;
	vertical-align: middle;
	user-select: none;

}

@media (max-width: 1000px) {
	
	.hide-phone {
		display: none !important;
	}
	
}